<div class="insights">
    <h2>Add Employee</h2>
    <form action="" method="post" class="employee-form" autocomplete="off">
        <div class="input-group">
            <div class="input-field">
                <label>First Name</label>
                <input type="text" name="first_name" placeholder="Enter First Name">
            </div>
            <div class="input-field">
                <label>Last Name</label>
                <input type="text" name="last_name" placeholder="Enter Last Name">
            </div>
        </div>
        <div class="job_position">
            <label>Job Position</label>
            <input type="text" name="role" placeholder="Enter Job">
        </div>
        <div class="salary">
            <label>Salary</label>
            <input type="text" name="salary" placeholder="Enter Salary">
        </div>
        <div class="input-group">
            <div class="input-field">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter Work Email Address">
            </div>
            <div class="input-field">
                <label>Phone</label>
                <input type="tel" name="phone" placeholder="Enter Phone Number">
            </div>
        </div>

        <div class="input-group">
            <div class="input-field">
                <label>Personal ID</label>
                <input type="text" name="personal_id" placeholder="Enter Personal card number">
            </div>
        </div>
        <div class="wrapper">
            <button type="submit" name="add_employee" class="add-employee">Add Employee</button>
        </div>
        </form>
</div>