<h2><i class="fas fa-chart-line"></i>Overview</h2>
            <div class="insights-1">
                <div class="sales">
                    <div class="card">
                        <h3>Total Users</h3>
                        <div class="about">
                            <p class="total_users">0</p>
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="expenses">
                    <div class="card">
                        <h3>Pending Orders</h3>
                        <div class="about">
                            <p class="pending">0</p>
                            <i class="fas fa-clock"></i>
                        </div>
                    </div>
                </div>
                <div class="income">
                    <div class="card">
                        <h3>Active Services</h3>
                        <div class="about">
                            <p class="accepted">0</p>
                            <i class="fas fa-cogs"></i>
                        </div>
                    </div>
                </div>
            </div>
            <h2>More Analytics</h2>
            <div class="insights-1">
                <div class="sales">
                    <div class="card">
                        <h3>Employees</h3>
                            <div class="about">
                            <p class="online_orders">0</p>
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="expenses">
                    <div class="card">
                        <h3>Cancelled Orders</h3>
                        <div class="about">
                            <p class="offline_orders">0</p>
                            <i class="material-icons-sharp local"> cancel </i>                        </div>
                    </div>
                </div>
                <div class="income">
                    <div class="card">
                        <h3>NEW CUSTOMERS</h3>
                        <div class="about">
                            <p class="new_customers">0</p>
                            <i class="material-icons-sharp cart"> person </i>                        </div>
                    </div>
                </div>
            </div>