<div class="insights">
</div>
<div class="recent-orders">
    <h2>Recent Orders</h2>
    <!-- <select name="" id="">
        <option value="">technician 1</option>
        <option value="">technician 2</option>
        <option value="">technician 3</option>
    </select> -->
    <table id="recent-orders--table">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th>Phone Number</th>
                <th>Map Link</th>
                <th>Car Type</th>
                <th>Car Model</th>
                <th>Services</th>
                <th>Issues</th>
                <th>Request Status</th>
            </tr>
        </thead>
        <tbody class="orders-container">



        </tbody>
    </table>
</div>